/*----------FONTS----------*/

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Josefin+Sans:ital,wght@1,300&family=Pattaya&display=swap');

/*----------APP BARRE----------*/

body::-webkit-scrollbar
{
    width: 12px;
    background-color: #1a1510;
}

body::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #080808;
}
/*----------FOND-----------*/

body {
    background-color: #1a1510;
}

/*----------TITRE-----------*/

.titre {
    font-family: 'Caveat', cursive;
    color: #F5F5F5;
    text-align: center;
}

/*-----------MODIF TEXTE/ITEMS-----------*/

h1 {
    color: burlywood;
}

h2 {
    color: burlywood;
}

#texte_a_propos {
    animation-duration: 3s;
    animation-name: glisse;
    display: none;
  }
  
  @keyframes glisse {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

:root {
    --colour-black: #1e1e1e;
    --colour-white: #ffffff;
    --font-family: 'Josefin Sans', sans-serif;
    --font-size: 100%;
  }
  
  body {
    color: var(--colour-black);
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: 1.7;
    font-weight: 400;
    width: 90%;
    margin: 30px auto;
    margin-top: 170px;
  }
  
  button,
  .bouton_1 {
    --button: hsl(0, 0%, 12%);
    --button-hover: hsl(0, 0%, 20%);
    --button-active:  hsl(0, 0%, 30%);
    --button-visited: hsl(0, 0%, 20%);
    --button-colour: var(--colour-white);
    --button-border: var(--colour-black);
  }
  
  button {
    padding: .9rem 1.7rem;
    color: var(--button-colour);
    font-weight: 500;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    background: var(--button);
    border: solid 1px var(--button-border);
    border-radius: 5px;
    box-shadow: inset 0 0 0 2px var(--colour-white);
    width: 30%;
    align-self: center;
    cursor: pointer;
  }
  
  button:hover {
    text-decoration: underline;
    background: var(--button-hover);
    box-shadow: inset 0 0 0 4px var(--colour-white);
  }
  
  button:active {
    background: var(--button-active);
  }
  
  button:visited {
    background: var(--button-visited);
  }

.barre_comp {
    width: 80%; 
    border-radius: 4px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
}
  
.zone {
    position: relative;
    width: 100%;
    height: 10px;
    background: #f1f1f1;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
    border-radius: 4px;
}
  
.zone:after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
}

.show .barre_1:after {
    width: 90%;
    animation: remplissage_1 5s forwards;
}
  
.show .barre_2:after {
    width: 70%;
    animation: remplissage_2 5s forwards; 
}
.show .barre_3:after {
    width: 40%;
    animation: remplissage_3  5s forwards;
}

.show .barre_4:after {
    width: 100%;
    animation: remplissage_4  5s forwards;
}

.show .barre_5:after {
    width: 60%;
    animation: remplissage_5  5s forwards;
}
  
@keyframes remplissage_1 {
    0% {
      width: 0;
      background: #e0d5ae;
    }
    
    25% {
      width: 25%;
      background: #ecd380;
    }
    
    50% {
      width: 50%;
      background: #cfbe5b;
    }
    75% {
      width: 75%;
      background: #d3af4b;
    }
    
    100% {
      width: 90%;
      background: #b39020;
    }
}

@keyframes remplissage_2 {
    0% {
      width: 0;
      background: #e0d5ae;
    }
    
    25% {
      width: 17%;
      background: #ecd380;
    }
    
    50% {
      width: 35%;
      background: #cfbe5b;
    }
    
    75% {
      width: 55%;
      background: #d3af4b;
    }
    
    100% {
      width: 70%;
      background: #b39020;
    }
}

  @keyframes remplissage_3 {
    0% {
      width: 0;
      background: #e0d5ae;
    }
    
    25% {
      width: 8%;
      background: #ecd380;
    }
    
    50% {
      width: 19%;
      background: #cfbe5b;
    }
    
    75% {
      width: 30%;
      background: #d3af4b;
    }
    
    100% {
      width: 40%;
      background: #b39020;
    }
  }

  @keyframes remplissage_4 {
    0% {
      width: 0;
      background: #e0d5ae;
    }
    
    25% {
      width: 30%;
      background: #ecd380;
    }
    
    50% {
      width: 55%;
      background: #cfbe5b;
    }
    
    75% {
      width: 80%;
      background: #d3af4b;
    }
    
    100% {
      width: 100%;
      background: #b39020;
    }
  }

  @keyframes remplissage_5 {
    0% {
      width: 0;
      background: #e0d5ae;
    }
    
    25% {
      width: 12%;
      background: #ecd380;
    }
    
    50% {
      width: 25%;
      background: #cfbe5b;
    }
    
    75% {
      width: 45%;
      background: #d3af4b;
    }
    
    100% {
      width: 60%;
      background: #b39020;
    }
  }

/*----------PROFIL----------*/

.taille_img {
    height: 30vh;
    border: solid 2px;
    border-radius: 3px;
}

.cadre_img {
    display: flex;
    align-items: center;
}

.cadre {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Josefin Sans', sans-serif;
    color: #F5F5F5;
    margin-left: 15%;
    margin-right: 15%;
}

.cadre_desc_profil {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    width: 450px;
}

/*----------FORMATIONS ET EXPERIENCES PRO----------*/

.cadre_fep {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Josefin Sans', sans-serif;
    color: #F5F5F5;
    width: auto;
    transition: opacity 0.8s;
}

.cadre_formation {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
}

.cadre_exp_pro {
    display: flex;
    flex-direction: column;
    width: 50%;
}

/*----------COMPTETENCES ET PROJETS----------*/

.cadre_cp {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Josefin Sans', sans-serif;
    color: #F5F5F5;
    transition: opacity 0.8s;
}

.hide {
  opacity: 0;
}

.show {
  opacity: 1;
}

.cadre_competences {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.cadre_projets {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.taille_cisco {
    height: 10vh;
}
.taille_shifumi {
    height: 10vh;
}
.taille_jikan {
    height: 10vh;
}
.taille_g3000 {
    height: 10vh;
}

.alignement {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

/*----------INTERETS ET CONTACT----------*/

.cadre_ic {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Josefin Sans', sans-serif;
    color: #F5F5F5;
    transition: opacity 0.8s;
}

.cadre_interets {
    display: flex;
    flex-direction: column;
    width: 45%;
    text-align: center;
}

.cadre_contact {
    display: flex;
    flex-direction: column;
    width: 45%;
    font-family: 'Josefin Sans', sans-serif;
}

.p_img_texte{
    display:grid;
    margin: 5%;
  }
  
  .p_img_texte>*{
    grid-area:1/1/-1/-1; 
  }

  .p_texte{
    display:flex;
    justify-content:center;
    align-items:center;
    color:#fff;
    opacity:0;
    filter:invert(0);
    transition:opacity .8s;
  }
  
  .c1{
    border-radius: 30%;
    background:#fd7a00cc; 
  }
  
  .c2{
    border-radius: 30%;
    background:#cc00ffcc; 
  }

  .c3{
    border-radius: 30%;
    background:#73ff00cc; 
    }

  .c4{
    border-radius: 30%;
    background:#00e1ffcc; 
    }
    
  .p_texte:hover{
    opacity:1;
  }
  .p_img_texte:hover .p-img{
    filter:invert(0);
  }
  
  img{
    max-width:100%;
    height:auto;
    border-radius: 30%;
  }
  p{
    text-decoration:none;
  }

.form_design {
    border-radius: 3px;
}

.message_form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
}

.message_form_ajustement {
    display: flex;
    flex-direction: row;
}

.bouton_form {
    background-color: black;
    border-radius: 3px;
    border: solid 1px;
    border-color: white;
    box-shadow: inset 0 0 0 2px var(--colour-white);
    transition: all 0.3s ease-in-out;
    width: 20%;
    color: white;
    cursor: pointer;
}